---
title: "Disposals - Southwark's big sell off" 
layout: default
background: '/img/bg-index.jpg'
redirect_from: /shopping-centre
---

<!-- Home Intro
================================================== -->
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1>Elephant & Castle Shopping Centre/UAL redevelopment </h1>
      <h2>Wrong on so many levels</h2>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/scprotest2.png">      
    </div>
  </div>
</div>

<!-- Featured
================================================== -->
<section class="row">
  {% for scsection in site.scsections %}
          <div class="col-md-4 mb-5">
          {% include scsectionsbox.html %}
          </div>
  {% endfor %}
  </div>
</section>

