<!-- begin post -->
<div class="card">
    <a href="{{ heygatepage.url | absolute_url }}">
        {% if heygatepage.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ heygatepage.image }}" alt="{{ heygatepage.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font"><a href="{{ heygatepage.url | absolute_url }}">{{ heygatepage.title }}</a></h2>
        <p class="card-text text-muted">{{ heygatepage.excerpt | strip_html | truncatewords:15 }}</p>
        <div class="metafooter">
            <div class="wrapfooter small d-flex align-items-center">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
